<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title mb-3">Portfolio Value</h5>
        <p class="justify-content-between m-0 d-flex">
            <span>Current Value</span>
            <span class="text-success">↑ +24.2%</span>
        </p>
        <h2 class="mb-4 fw-bold">$ 252,501.43</h2>
        <p class="justify-content-between m-0 d-flex">
            <span>Invested Value</span>
            <span class="text-success">↑ +7.6%</span>
        </p>
        <h3 class="mb-4">$ 100,501.09</h3>
        <p class="justify-content-between m-0 d-flex">
            <span>Total Invested</span>
        </p>
        <h3 class="mb-4">$ 300,781.75</h3>
        <p>Estimated growth E.A: 13%</p>
    </div>
  </div>