<div class="m-0 p-0 bg-light d-flex">
    <div class="col-md-10 p-3">
        <h1>Hola, Username <i class="bi bi-suit-heart-fill"></i></h1>
        <span class="fs-5">Revisemos tus estadísticas financieras</span>
        <br>
        <span class="text-secondary-emphasis">Viernes, 27 de Abril</span>
        <div class="container overflow-hidden pt-5 px-0 text-left">
            <div class="row"> 
                <div class="col-sm-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Ingresos</h5>
                            <h2 class="card-subtitle mb-2 text-body-secondary">$48,500</h2>
                            <p class="card-text"><span style="color: green;"><i class="bi bi-chevron-double-up"></i> 6.5%</span> frente a los últimos 30 días</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Gastos</h5>
                            <h2 class="card-subtitle mb-2 text-body-secondary">$39,000</h2>
                            <p class="card-text"><span style="color: red;"><i class="bi bi-chevron-double-up"></i> 4.5%</span> frente a los últimos 30 días</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Ahorros</h5>
                            <h2 class="card-subtitle mb-2 text-body-secondary">$9,500</h2>
                            <p class="card-text"><span style="color: green;"><i class="bi bi-chevron-double-up"></i> 3.4%</span> frente a los últimos 30 días</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 w-75">
                <app-distribucion-gastos></app-distribucion-gastos>
            </div>
        </div>
    </div>
    <div class="col p-3 bg-white">
        <app-movimientos-recientes></app-movimientos-recientes>
    </div>
</div>