<div class="dashboard-container d-flex bg-light">
    <div class="col-10 p-4 overflow-auto">
      <div class="row mb-4">
        <app-header-interno></app-header-interno>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-md-3">
          <app-distribucion-ingresos></app-distribucion-ingresos>
        </div>
        <div class="col-12 col-md-6">
          <app-comparacion-ingresos-gastos></app-comparacion-ingresos-gastos>
        </div>
        <div class="col-12 col-md-3">
          <app-distribucion-gastos></app-distribucion-gastos>
        </div>
      </div>
      <div class="row">
          <app-distribucion-ano/>
      </div>
    </div>
    <div class="col-2 p-4 bg-white h-100 overflow-auto">
      <app-movimientos-recientes></app-movimientos-recientes>
    </div>
</div>