<div class="container-fluid d-flex justify-content-end">
    <div class="me-3">
        <a href="#">
            <i class="bi bi-bell-fill fs-4"></i>
        </a>
    </div>
    <div>
        <div class="dropdown">
            <a href="/dashboard" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Username</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/dashboard">Settings</a></li>
            <li><a class="dropdown-item" href="/dashboard">Profile</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<h4>Movimientos Recientes</h4>
<div class="d-flex flex-column">
    @for (item of items_last; track items_last){
        <div class="d-flex align-items-center">
            <i class="bi fs-3 me-3 pb-2" [class]="item.icon"></i>
            <p>
                <span class="fs-5 ">{{item.title}}</span>
                <br>
                <span>{{item.fecha}}</span>
            </p>
            <span class="ms-auto p-2" [style]="{ color: item.tipo === 'Ingreso' ? 'green' : 'red' }">${{item.cantidad}}</span>
        </div>
    }
</div>
<h4>Próximos</h4>
<div class="d-flex flex-column">
    @for (item of items_future; track items_future) {
        <div class="d-flex align-items-center">
            <i class="bi fs-3 me-3 pb-2" [class]="item.icon"></i>
            <p>
                <span class="fs-5 ">{{item.title}}</span>
                <br>
                <span>{{item.fecha}}</span>
            </p>
            <span class="ms-auto p-2" [style]="{ color: item.tipo === 'Ingreso' ? 'green' : 'red' }">${{item.cantidad}}</span>
        </div>
    }
</div>