<div id="janelaModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center modal-title">Iniciar sesión</h2>
                <button
                type="button"
                class="btn-close"
                aria-label="Close"
                data-bs-dismiss="modal"
                ></button>
            </div>
            <div class="modal-body">
                <div class="container d-flex justify-content-center align-items-center">
                    <div class="main">
                        <form class="row g-3 needs-validation" novalidate (ngSubmit)="login($event)">
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label">Correo electrónico:</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="validationCustom01" 
                                    placeholder="example@example.com"
                                    required
                                />
                                <div class="invalid-feedback">
                                    Verifique el correo electrónico ingresado.
                                </div>
                            </div>
                            <div>
                                <label for="validationCustom02" class="form-label">Contraseña:</label>
                                <input
                                    type="text" 
                                    class="form-control" 
                                    id="validationCustom02" 
                                    placeholder="Escriba su contraseña"
                                    required
                                />
                                <div class="invalid-feedback">
                                    La contraseña es obligatoria. Debe tener un mínimo de 8 y un máximo de 20 caracteres.              
                                </div>
                            </div>
                            <div id="cBoton" class="d-flex">
                                <button 
                                    id="myboton_login" 
                                    type="submit" 
                                    class="btn btn-primary">
                                    Iniciar sesión
                                    </button>
                                @if (mostrar_mensaje) {
                                    <div id="advertencia" class="alert alert-danger flex-grow-1" role="alert">
                                        {{mensage}}
                                    </div>
                                }
                            </div>
                            <a routerLink="">
                                <button
                                    type="button"
                                    class="btn">
                                    ¿No tienes una cuenta? Regístrate aquí
                                </button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

