:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden; /* Evita el desbordamiento del host */
}

:host .main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  overflow: hidden; /* Evita el desbordamiento del contenedor principal */
}

app-header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

main {
  overflow-y: auto;
  overflow-x: hidden; /* Evita el desbordamiento horizontal del main */
  grid-column: 1 / -1;
  height: 100%;
}

app-footer {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

app-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main-container main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
