<div class="container p-0 my-5">
    <div class="justify-content-between d-flex">
        <div class="left">
            <h2 class="text-left mb-3">El control de tus finanzas en un solo lugar</h2>
            <p>
                Esta aplicación ha sido desarrollada para ayudar a las personas a tener una mejor gestión financiera.
            </p>
            <p>
                Registra tus ingresos y gastos por categorías para un control detallado de tus finanzas.
            </p>
            <p>
                Visualiza un resumen e histórico de ingresos y gastos, realiza seguimiento de inversiones y genera gráficos basados en registros financieros.
            </p>
            <p>
                Crea y recibe alertas de presupuestos para controlar tus gastos y mantener tus finanzas en orden.
            </p>
            <p>
                Con Finanzify puedes controlar tus asuntos financieros de manera fácil e intuitiva.
            </p>
            <div class="img-capa text-center">
                <a
                    href="https://iconscout.com/lottie-animation-pack/finance-299"
                    title="Imagen creada por: IconsX / Freepik">
                    <img
                        class="w-50"
                        src="../../../assets/image2.png"
                        alt="Imagen creada por: IconsX / Freepik"
                    />
                </a>
            </div>
        </div>

        <!-- formulario -->
        <div class="right">
            <app-registro></app-registro>
        </div>
    </div>
</div>

